body{background-color:gray;}
 

  h1{margin-bottom: 0.1em;
  font-size: 4.8rem;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.07em;}
  
  h2{margin-bottom: 0.1em;
  font-size: 3.8rem;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.07em;}
  
  p{font-size: 2em;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.07em;}
  
  ul{font-size: 2em;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  letter-spacing: -0.07em;}
  
  #pics{width: 1230px;
  padding:10px;
  border: 5px solid black;
  margin: 0;}
 
 footer {text-align:center;
 padding-bottom:30px;
 padding-top:30px;
 font-weight:bold;}